@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --yellow-color: #E0BE36;
    --green-color: #1E852C;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

html,
body {
    max-width: 100vw;
}

.wrapper {
    margin: 0 auto;
}

a {
    text-decoration: none;
}